Options +FollowSymLinks
DirectoryIndex index.php

RewriteEngine On
RewriteBase /

#RewriteRule ^index.php$ http://resume.dnet.org.bd/ [R=301,L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /index.php [L]